@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-canvas: #f5f6f8;
  --color-success-50: #ecfdf3;
  --color-success-200: #abefc6;
  --color-success-700: #067647;
  --color-warning-50: #fffaeb;
  --color-warning-200: #fedf89;
  --color-warning-700: #93370d;
  --color-danger-50: #fef3f2;
  --color-danger-200: #fecdca;
  --color-danger-600: #d92d20;
  --color-danger-700: #b42318;
  --color-violet-50: #f4f3ff;
  --color-violet-200: #d9d6fe;
  --color-violet-700: #5925dc;
}
